body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    background-color: #FF6064;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 800px; 
    width: 80%;
    padding: 120px; 
}

.register-container {
    background-color: #ffffff;
    padding: 50px; 
    border-radius: 30px;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.2);
    width: 100%; 
    max-width: 370px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 61px;
    font-size: 29px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group {
    margin-bottom: 16px;
       justify-content: center;
    align-items: center;
  
}

label {
    margin: 6px;
    margin-left: 15px;  
    font-size: 16px; 
    align-items: center;
}
input::placeholder {
    color: #999999; 
    font-size: 14px; 
    opacity: 1; 
}

input {
    width: 80%;
    padding: 12px;
    border-radius: 100px;
    border: 1px solid #000000;
    cursor: text;
    text-decoration: none;
    font-size: 13px;
    outline: none;
}

.error-message {
    color: #FF6064;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 5px;
    margin-left: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.register-btn, .goBack {
    border-radius: 100px;
    width: 45%;
    cursor: pointer;
    padding: 12px 10px;
    font-size: 14px;
    margin: 1px;
    transition: transform 100ms ease-in-out, box-shadow 200ms ease-in-out;
}

.register-btn {
    background-color: #FF6064;
    border: none;
    color: #ffffff;
}

.goBack {
    background-color: #ffffff;
    border: 1px solid #000000;

    color: #000000;
}

.register-btn:hover, .goBack:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.icon
-container {
    width: 45%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container img {
    max-width: 65%;
    height: auto;
    padding: 100px;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch; 
        height: 100vh; 
    }

    .container {
        flex-direction: column-reverse; 
        justify-content: flex-end; 
        align-items: center;
        width: 100%; 
        padding: 0; 
        height: 100%;
    }

    .icon-container {
        width: 100%;
        text-align: center;
    }

    .icon-container img {
        max-width: 40%; 
        height: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .register-container {
        width: 190%;
        max-width: 100%; 
        padding: 100px;
        padding-bottom: 640px;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 4cap 40px 0 0; 
    }
     input:placeholder-shown{
        font-size: 30px;
     }

     input::placeholder {
        font-size: 30px; 
        color: #999999;
    }

    label {
        font-size: 33px;
        margin-bottom: 10px;
    }
    
    h1 {
        font-size: 57px;
        font-weight: 300; 
    }


    input {
        width: 100%; 
        font-size: 39px; 
        padding: 21px; 
        
    }

    .button-container {
        margin-top: 29px;
        gap: 18px;
    }

    .register-btn, .goBack {
        width: 100%; 
        padding: 30px; 
        font-size: 23px;

        

        
    }
}

@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        height: 100vh;
    }

    .container {
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }

    .icon-container img {
        max-width: 60%; 
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .register-container {
        width: 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-radius: 30px 30px 0 0;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 80px;
    }
    input::placeholder {
        font-size: 24px; 
        color: #999999;
    }

  label{
    font-size:30px;
    margin-bottom: 10px;
      }
    input {
        width: 100%;
        font-size: 36px;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 30px;
    }

    .button-container {
        margin-bottom: 20px;
        gap: 10px;  
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;

    }

    .register-btn, .goBack {
        
        border-radius: 100px;
        width: 45%;
        cursor: pointer;
        padding: 7px 7px;
        font-size: 17px;
        margin: 5px;
        transition: transform 100ms ease-in-out, box-shadow 200ms ease-in-out;
    }
}
