
h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.login-container {
    text-align: center;
    max-width: 300px;
    width: 100%;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 30px;  
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 80px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    margin: 24px 0;
    border-radius: 100px;
    border: 2px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #eeebeb;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: background-color 200ms ease-in-out,
                transform 100ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

p {
    margin: 0;
    font-size: 16px;
    color: #000;
}

.or {
    font-size: 16px;
    margin-top: 50px;
}

.register a {
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;
    color: #FF6064;
}

.name-apple {
    margin-right: 20px;
    font-size: 16px;
    font-family: sans-serif;
}

.name-Google {
    margin-right: 10px;
    font-size: 16px;
    font-family: sans-serif;
}

.name-Facebook {
    font-size: 17px;
    font-family: sans-serif;
}

.svg-img-facebook {
    margin-right: 19px;
}

.svg-img-google {
    margin-right: 19px;
}

.svg-img-apple {
    margin-right: 17px;
}

.arrow {
    position: absolute;
    left: 200px;
    top: 20%;
    cursor: pointer;
}

.arrow img.svg-img {
    width: 30px;
    height: 30px;
    transition: opacity 300ms ease-in-out;
}

.arrow:hover img.svg-img {
    filter: invert(26%) sepia(84%) saturate(3323%) hue-rotate(-0deg) brightness(92%) contrast(95%);
}



@media (max-width: 768px) {
    body {
        padding: 0;
        justify-content: flex-start; 
    }

    .login-container {
        padding: 30px;
        border-radius: 20px;
        margin-top: 20px;
    }

    .arrow {
        position: absolute;
        left: 10px;
        top: 5%; 
    }

    .arrow img.svg-img {
        width: 80px;
        height: 20px;
        margin-right: 10px;
    }

    h1 {
        font-size: 39px;
        margin-bottom: 100px; 
    }

    .login-btn {
        width: 100%;
        padding: 12px;
        margin-bottom: 30px; 
        font-size: 14px;
        border: #cccccc 2px solid;
    }

    .or, .register a, .name-apple, .name-Google, .name-Facebook {
        font-size: 19px;
        font-weight: 900px;
       
       
    }
    .register,.or {
        color: #aca8a8;
    }
    

    .name-apple, .name-Google, .name-Facebook {
        margin-right: 10px;
        font-weight: bold;
    }

    .svg-img-facebook, .svg-img-google, .svg-img-apple {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 0;
        justify-content: flex-start; 
    }

    .login-container {
        padding: 20px;
        border-radius: 15px;
        margin-top: 20px; 
    }

    h1 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .login-btn {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px; 
        font-size: 12px;
    }

    .or, .register a, .name-apple, .name-Google, .name-Facebook {
        font-size: 12px;
    }

    .name-apple, .name-Google, .name-Facebook {
        margin-right: 5px;
    }

    .svg-img-facebook, .svg-img-google, .svg-img-apple {
        margin-right: 5px;
    }

    .arrow {
        position: absolute;
        left: 10px;
        top: 5%; 
    }

    .arrow img.svg-img {
        width: 80px;
        height: 20px;
        margin-right: 10px;
    }
}
