.arrow {
    position: absolute;
    left: 200px; 
    top: 20%;
    cursor: pointer;
}


.arrow img.svg-img {
    width: 30px;
    height: 30px;
    transition: opacity 300ms ease-in-out; 
}


.arrow:hover img.svg-img {
    filter: invert(26%) sepia(84%) saturate(3323%) hue-rotate(-0deg) brightness(92%) contrast(95%);
}
